<div class="mb-4 text-center mt-5" style="background-color: white">
  <%= link_to "New Message <i class='cercle-icon-card-event fa-solid fa-plus me-2 ms-1 text-dark-green'></i>".html_safe, new_message_path, data: { turbo_frame: "_top" }, class: "btn btn-outline-primary btn-lg link-underline link-underline-opacity-0 mb-3 mt-2", style:"opacity:1;" %>
</div>

<div class="container">
  <div class="d-flex justify-content-evenly">
    <div class="card-message">
      <div>
      </div>
      <h1>Inbox</h1>
      <ul>
        <% @received_messages.each do |message| %>
          <li><%= message.content %> from <%= render 'layouts/set_vava', vava: User.find_by_id(message.sender_id) %><%= message.sender.username %></li>
        <% end %>
      </ul>
    </div>
    <div class="card-message">
      <h1>Sent Messages</h1>
      <ul>
        <% @sent_messages.each do |message| %>
          <li class="mb-2"><%= message.content %> to <%= render 'layouts/set_vava', vava: User.find_by_id(message.receiver_id) %><%= message.receiver.username %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
