<div class="container form-card-style mt-3">
  <%= simple_form_for @message do |f| %>
    <%# Title and Category %>
    <div class="">
      <div class="">
        <h4 class="text-primary"><strong>Title</strong></h4>
        <%= f.input :title, label: false, placeholder: "Title..." %>
      </div>

      <div class="">
        <h4 class="text-primary"><strong>To</strong></h4>
        <%= f.collection_select :receiver_id, User.all, :id, :username %>
      </div>

      <div class="">
        <h4 class="text-primary"><strong>Message</strong></h4>
        <%= f.text_field :content, label: false, placeholder: "Message..." %>
      </div>
    </div>
    <br>

    <%= f.submit "Send Message", class: 'btn btn-primary btn-lg link-underline link-underline-opacity-0 mb-3 mt-2' %>
  <% end %>
</div>
