<h1>New Message</h1>

<%= form_with model: @message, local: true do |f| %>
  <div>
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :receiver_id, 'To' %>
    <%= f.collection_select :receiver_id, User.all, :id, :username %>
  </div>

  <div>
    <%= f.label :content, 'Message' %>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.submit 'Send Message' %>
  </div>
<% end %>
