<%= turbo_frame_tag :events_frame do %>
  <% if @follows.present? %>

    <!-- Cards grid with two columns and gap -->
    <div class="container">
      <div class="row g-3">
        <% @follows.each do |follow| %>
          <div class="col-md-6 d-flex justify-content-center">
            <!-- Each Card div -->
            <div class="card-booking">
              <!-- render Card content -->
              <%= render partial: "events/index_card", locals: { event: follow.event } %>

<<<<<<< HEAD
         <!-- Each Card div -->
        <div class="card-booking">

          <!-- render Card content -->
          <%= render partial: "events/index_card", locals: { event: follow.event } %>

          <!-- Follow Icon -->
          <%= button_to account_follow_path(follow.id), method: :delete, class: "btn button-absolute-top-right heart-button" do %>
            <i class="fa-solid fa-heart fs-3"></i>
          <% end %>
        </div>
      <% end %>
=======
              <!-- Follow Icon -->
              <%= button_to account_follow_path(follow.id), method: :delete, class: "btn button-absolute-top-right heart-button" do %>
                <i class="fa-solid fa-heart fs-3 p-3"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
>>>>>>> 65c53f6b3ce5bc9828f36c4605a3b3a60790b7ea
    </div>

  <% else %>

    <!-- No favorites message -->
    <div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
      <p class="text-center">No favorites found.</p>
    </div>
  <% end %>
<% end %>
