<div class="d-flex align-items-center">
  <h4 class="text-dark-green me-2 mb-0">
    <strong>Participants request <%= Sub.where(event_id: event.id).count+1 %>/<%= event.participants_max %> : <%= Sub.where(event_id: event.id, status: 'Pending').count %></strong>
  </h4>
  <button class="btn btn-info p-1" type="button" data-bs-toggle="collapse" data-bs-target="#followers-<%= event.id %>" aria-expanded="false" aria-controls="followers-<%= event.id %>">
    <i class="fa-solid fa-chevron-down"></i>
  </button>
</div>

<div class="collapse mt-2" id="followers-<%= event.id %>">
  <% Sub.where(event_id: event.id).each do |sub| %>
    <% user = User.find_by_id(sub.user_id) %>
    <div class="mb-2">
      <%= link_to user_path(user), data: { turbo_frame: "_top" }, target: '_blank', class: 'text-decoration-none text-dark' do %>
        <div class="d-flex align-items-center">
          <%= render 'layouts/set_vava', vava: user %>
          <span class="ms-2"><%= user.username %></span>
        </div>
      <% end %>
      <div class="d-flex mt-2">
        <%= button_to accept_sub_path(sub), method: :patch, class: "btn btn-success btn-sm rounded me-2" do %>
          Accept
        <% end %>
        <%= button_to reject_sub_path(sub), method: :patch, class: "btn btn-danger btn-sm rounded" do %>
          Decline
        <% end %>
      </div>
    </div>
  <% end %>
</div>
