<%= turbo_frame_tag :events_frame do %>

  <!-- 'Add New Event' Button -->
  <div class="mb-4 text-center" style="background-color: white">
    <%= link_to "Add New Event <i class='cercle-icon-card-event fa-solid fa-plus me-2 ms-1 text-dark-green'></i>".html_safe, new_event_path, data: { turbo_frame: "_top" }, class: "btn btn-outline-primary btn-lg link-underline link-underline-opacity-0 mb-3 mt-2", style:"opacity:1;" %>
  </div>

  <!-- Events Cards -->
  <% @events.where(status: ["Open", "Closed"]).each do |event| %>
    <div class="card-event" style="overflow: visible;">
      <div class="row" style="height: 300px;">

        <!-- Event Photo  -->
        <div class="col-md-4 img_myevents_cards_container">
          <% if event.photos.attached? %>
            <%= cl_image_tag(event.photos.first.key,
                 alt: event.name,
                 class: "img_myevents_cards",
                 transformation: [
                   { crop: 'fill', width: 2000, height: 1500, gravity: 'auto' } # Adjust as needed
                 ],
                 style: "border-radius: 10px;") %>

          <% else %>
            <%= image_tag(asset_path('no_image.png'), alt: event.name, class: "img_myevents_cards", style:"border-radius: 10px") %>
          <% end %>
        </div>

        <!-- Event Infos  -->
        <div class="col-md-8 d-flex" >
          <div class="border-end me-4" style="width: 500px;">

            <!-- Event Name  -->
            <h2 class="text-dark-green me-3"><strong><%= event.name %></strong></h2>

            <!-- Event Date  -->
            <div class="d-flex align-items-center">
              <i class="cercle-icon-card-event fa-solid fa-calendar-check me-2 ms-1 text-dark-green"></i>
              <p class="card-text mt-0"><%= event.date_event %></p>
            </div>

            <!-- Event Participants Capacity  -->
            <div class="d-flex align-items-center">
              <i class="cercle-icon-card-event fa-solid fa-users me-2 ms-1 text-dark-green"></i>
              <p class="card-text mt-0"><%= event.participants_min %> to <%= event.participants_max %></p>
            </div>

            <!-- Event Address  -->
            <div class="d-flex align-items-center">
              <i class="cercle-icon-card-event fa-solid fa-location-dot me-2 ms-1 text-dark-green"></i>
              <p class="card-text text-clamp-address me-2 mt-0"><%= event.address %></p>
            </div>

              <hr class="subtle-divider">

            <!-- Event Current Participants  -->
            <div class="d-flex" style="align-items: center;">
              <i class="fa-solid fa-circle-user me-2 ms-1 text-dark-green fs-2" ></i>
              <h4 class="text-dark-green me-2 mb-0">
                <strong>Participants: <%= Sub.where(event_id: event.id).count %> / <%= event.participants_max %></strong>
              </h4>
            </div>
          </div>

          <!-- PARTICIPANT REQUEST -->
          <div>
            <div>
              <div class="align-items-center mx-1">
                <div>
                  <h4 class="text-dark-green me-2 mb-0">
                    <strong>Requests: <%= Sub.where(event_id: event.id, status: 'Pending').count %></strong>
                  </h4>
                </div>
              </div>
              <div class="mt-2" id="followers-<%= event.id %>">
                <% Sub.where(event_id: event.id).each do |sub| %>
                  <%= turbo_frame_tag "sub_#{sub.id}" do %>
                    <div class="mb-2">
                      <%= link_to user_path(sub.user), data: { turbo_frame: "_top" }, target: '_blank', class: 'text-decoration-none text-dark' do %>
                        <div class="d-flex align-items-center">
                          <%= render 'layouts/set_vava', vava: sub.user %>
                          <span class="ms-2"><%= sub.user.username %></span>
                        </div>
                      <% end %>
                      <div class="d-flex mt-2">
                        <% if sub.status == 'Pending' %>
                          <%= button_to accept_account_subscription_path(sub), method: :patch, class: "btn btn-success btn-sm rounded me-2 text-white" do %>
                            Accept
                          <% end %> <!-- Closing button_to for Accept -->
                          <%= button_to reject_account_subscription_path(sub), method: :patch, class: "btn btn-danger btn-sm rounded text-white" do %>
                            Decline
                          <% end %> <!-- Closing button_to for Decline -->
                        <% elsif sub.status == 'Accepted' %>
                          <span class="badge bg-success">Confirmed</span>
                        <% end %>
                      </div>
                    </div>
                  <% end %> <!-- Closing turbo_frame_tag -->
                <% end %> <!-- Closing each do loop -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Trash Icon -->
      <%= button_to event_path(event), method: :delete, data: { turbo_confirm: 'WARNING! Are you sure you want to cancel your event?' }, class: 'btn btn-outline-danger round-button', style: 'position: absolute; top: 10px; right: 10px;' do %>
        <i class="fa-solid fa-trash-can fs-4"></i>
      <% end %>
    </div>
  <% end %> <!-- Closing @events.each do loop -->
<% end %> <!-- Closing turbo_frame_tag -->
<br>
<hr class="subtle-divider">

<!-- Event Past -->
<% if @events.where(status: "Past").present? %>
  <div>
    <h1 class="text-primary">Past Events:</h1>
    <% @events.where(status: "Past").each do |event| %>
      <div class="card-event" style="overflow: visible;">
        <div class="row" style="height: 300px;">
          <div class="col-md-4 img_myevents_cards_container">
            <% if event.photos.attached? %>
              <%= cl_image_tag(event.photos.first.key, alt: event.name, class: "img_myevents_cards", style:"border-radius: 10px") %>
            <% else %>
              <%= image_tag(asset_path('no_image.png'), alt: event.name, class: "img_myevents_cards", style:"border-radius: 10px") %>
            <% end %>
          </div>
          <div class="col-md-8 d-flex">
            <div class="border-end me-4" style="width: 500px;">
              <h2 class="text-dark-green me-3"><strong><%= event.name %></strong></h2>
              <div class="d-flex align-items-center">
                <i class="cercle-icon-card-event fa-solid fa-calendar-check me-2 ms-1 text-dark-green"></i>
                <p class="card-text mt-0"><%= event.date_event %></p>
              </div>
              <div class="d-flex modal-dialog modal-dialog-centered fw-medium">
                <i class="cercle-icon-card-event fa-solid fa-circle-user me-2 ms-1 text-dark-green"></i>
                <p class="card-text mt-0"><%= event.participants_min %> to <%= event.participants_max %></p>
              </div>
              <div class="d-flex modal-dialog modal-dialog-centered fw-medium">
                <i class="cercle-icon-card-event fa-solid fa-location-dot me-2 ms-1 text-dark-green"></i>
                <p class="card-text text-clamp-address me-2 mt-0"><%= event.address %></p>
              </div>
            </div>
              <div>
                <div data-controller="participants" class="container" style=" width: 100%; height: 250px; overflow: scroll;">
                  <%= render "participants_show_event", event: event %>
                </div>
              </div>
          </div>
        </div>
      </div>
    <% end %> <!-- Fin de la boucle each -->
  </div>
<% end %> <!-- Fermeture du div principal -->
