<div class="container justify-content-center pt-4 min-vh-100">
  <div class="row">
    <!-- Partie de gauche -->
    <div class="col-md-4">
      <!-- Profil info -->
      <div class="card-profile">
        <!-- Profil picture -->
        <div class="position-relative">
          <% if @user.avatar.attached? %>
            <%= cl_image_tag(@user.avatar.key,
              class: 'avatar-my-profil w-100',
              transformation: [
                { gravity: 'face', crop: 'thumb'}
              ],
              style: 'max-height: 500px; object-fit: cover;'
            ) %>
          <% else %>
            <%= image_tag(asset_path('no_image.png'),
              class: 'avatar-my-profil w-100',
              style: 'max-height: 300px; object-fit: cover;'
            ) %>
          <% end %>
          <!-- Text overlay pictrue -->
          <div class="position-absolute text-overlay-profil w-100 fw-bold" style="bottom: 10px; left: 10px; font-size: 1.5rem;">
            <%= @user.username %> <i class="fa-solid fa-comments"></i>
          </div>
        </div>
        <!-- Achievements -->
        <div>
          <!-- Important number, levels, Events, rating -->
          <div class="container">
            <div class="row text-center">
              <!-- Events Count -->
              <div class="col">
                <div class="h4 mb-1"><%= @user.events.count + @user.subs.where(status: 'Accepted').count %></div>
                <div>Events</div>
              </div>

              <!-- Rating Count -->
              <div class="col">
                <div class="h4 mb-1">
                  <% if @user.events.where(status: 'Past').exists? %>
                    <%= @user.events.where(status: 'Past').joins(:reviews).average('reviews.rating').round(1) %>
                    <%= "(" + @user.events.where(status: 'Past').joins(:reviews).count.to_s + ")" %>
                  <% else %>
                    0 (0)
                  <% end %>
                  <i><img src="/icons/Star.png" alt="Star Icon" class="icon-size ms-2"></i>
                </div>
                <div>Rating</div>
              </div>

              <!-- Level Count -->
              <div class="col">
                <div class="h4 mb-1"><%= @user.level %></div>
                <div>Level</div>
              </div>
            </div>

            <!-- About Me Section -->
            <div class="mt-4">
              <div class="h5">About me</div>
              <div><%= @user.bio %></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Achievements -->
      <div class="card-profile">
        <div class="text-center mb-3">
          <div class="h5">Achievements</div>
        </div>
        <div>
          <i class="fa-solid fa-award text-warning fs-3 mx-2"></i>
          <i class="fa-solid fa-award text-warning fs-3 mx-2"></i>
          <i class="fa-solid fa-award text-warning fs-3 mx-2"></i>
        </div>
      </div>
    </div>

    <!-- Partie de droite -->
    <div class="col-md-8">
      <!-- Name tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="Participated-tab" data-bs-toggle="tab" data-bs-target="#Participated" type="button" role="tab" aria-controls="Participated" aria-selected="true">Participated</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="Organized-tab" data-bs-toggle="tab" data-bs-target="#Organized" type="button" role="tab" aria-controls="Organized" aria-selected="false">Organized</button>
        </li>
      </ul>
      <!-- Content -->
      <div class="tab-content" id="myTabContent">
        <!-- Participated list -->
        <div class="tab-pane fade show active" id="Participated" role="tabpanel" aria-labelledby="Participated-tab">
          <% if @user.subs.present? %>
            <% @user.subs.where(status: 'Accepted').each do |sub| %>
              <div class="card-booking">
                <%= render partial: "events/index_card", locals: { event: sub.event } %>
              </div>
            <% end %>
          <!-- No events -->
          <% else %>
            <div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
              <p class="text-center">No events found.</p>
            </div>
          <% end %>
        </div>
        <!-- Organized list -->
        <div class="tab-pane fade" id="Organized" role="tabpanel" aria-labelledby="Organized-tab">
          <% if @user.events.present? %>
            <% @user.events.each do |event| %>
              <div class="card-booking">
                <%= render partial: "events/index_card", locals: { event: event } %>
              </div>
            <% end %>
          <!-- No events -->
          <% else %>
            <div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
              <p class="text-center">No events found.</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>

</div>
