<div class="container mt-4 min-vh-100 d-flex justify-content-center">
  <div class="row justify-content-center align-items-start w-100">

    <!----------------->
    <!-- Left column -->
    <!----------------->
    <div class="col-md-6">

      <!-- Profile info -->
      <div class="card-profile card-shadow ">
        <!-- Profile picture -->
        <div class="position-relative">
          <% if @user.avatar.attached? %>
            <%= cl_image_tag(@user.avatar.key,
              class: 'avatar-my-profil w-100',
              transformation: [
                { gravity: 'face', crop: 'thumb', height: 350, width: 500}
              ],
              style: 'max-height: 350px; object-fit: cover;'
            ) %>
          <% else %>
            <%= image_tag(asset_path('no_image.png'),
              class: 'avatar-my-profil w-100',
              style: 'max-height: 300px; object-fit: cover;'
            ) %>
          <% end %>

          <!-- Text overlay picture -->
          <div class="position-absolute text-overlay-profil w-100 fw-bold" style="bottom: 10px; left: 10px; font-size: 1.5rem;">
            <%= @user.username %> <i class="fa-solid fa-comments"></i>
          </div>
        </div>

        <br>

        <!-- Achievements -->
        <div>
          <div class="container">
            <div class="row text-center">

              <!-- Events Count -->
              <div class="col">
                <div class="h4 mb-1 fs-1"><%= @user.events.count + @user.subs.where(status: 'Accepted').count %></div>
                <div>Events</div>
              </div>

              <!-- Rating Count -->
              <div class="col">
                <div class="h4 mb-1 fs-1">
                  <% if @user.events.where(status: 'Past').exists? %>
                    <%= @user.events.where(status: 'Past').joins(:reviews).average('reviews.rating').round(1) %>
                    <%= "(" + @user.events.where(status: 'Past').joins(:reviews).count.to_s + ")" %>
                  <% else %>
                    0 (0)
                  <% end %> <!-- Replace with actual rating count if available -->
                  <i><img src="/icons/Star.png" alt="Star Icon" class="icon-star-size ms-1" style="width: 1.5rem; height: 1.5rem; padding-bottom: 5px;"></i>
                </div>
                <div>Rating</div>
              </div>

              <!-- Level Count -->
              <div class="col">
                <div class="h4 mb-1 fs-1"><%= @user.transform_level %></div>
                <div>Level</div>
              </div>
            </div>

            <!-- About Me Section -->
            <div class="mt-4">
              <div class="h5">About me</div>
              <div class="card-text fs-6" data-controller="text-clamp">
                <div id="event-content" class="text-clamp" data-text-clamp-target="text">
                  <%= @user.bio.html_safe %>
                </div>
                <a href="javascript:void(0);" id="see-more-link" class="text-primary" data-action="click->text-clamp#seeMore">See more</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Achievements -->
      <div class="card-profile">
        <div class="text-center mb-3">
          <div class="h5">Achievements</div>
        </div>
        <div class="mb-2">
          <i class="fa-solid fa-award text-warning fs-3 mx-2"></i>
          <i class="fa-solid fa-award text-warning fs-3 mx-2"></i>
          <i class="fa-solid fa-award text-warning fs-3 mx-2"></i>
        </div>
      </div>
    </div>

    <!------------------>
    <!-- Right column -->
    <!------------------>

    <div class="col-md-6">

      <!-- Name tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active w-100 text-center btn-custom-selected" id="Participated-tab" data-bs-toggle="tab" data-bs-target="#Participated" type="button" role="tab" aria-controls="Participated" aria-selected="true">Participated</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link w-100 text-center btn-custom-not-selected" data-bs-toggle="tab" data-bs-target="#Organized" type="button" role="tab" aria-controls="Organized" aria-selected="false">Organized <i class="fa-solid fa-crown"></i></button>
        </li>
      </ul>

      <!-- Content -->
      <div class="tab-content d-flex justify-content-center" id="myTabContent">
        <!-- Participated list -->
        <div class="tab-pane fade show active" id="Participated" role="tabpanel" aria-labelledby="Participated-tab">
          <% if @user.subs.present? %>
            <% @user.subs.where(status: 'Accepted').each do |sub| %>
              <div class="card-booking">
                <%= render partial: "events/index_card", locals: { event: sub.event } %>
              </div>
            <% end %>
          <% else %>
            <div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
              <p class="text-center">No events found.</p>
            </div>
          <% end %>
        </div>

        <!-- Organized list -->
        <div class="tab-pane fade" id="Organized" role="tabpanel" aria-labelledby="Organized-tab">
          <% if @user.events.present? %>
            <% @user.events.each do |event| %>
              <div class="card-booking">
                <%= render partial: "events/index_card", locals: { event: event } %>
              </div>
            <% end %>
          <% else %>
            <div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
              <p class="text-center">No events found!</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
