<%= link_to event_path(event), data: {turbo_frame: "_top"}, class: "card card-shadow m-2", style: "width: 33rem; text-decoration: none; color: inherit;" do %>
  <div class="d-flex justify-content-space-around">
    <div class="card-body col-7">

      <!-- Event Name -->
      <h5 class="ps-1 text-clamp mb-1"><%= event.name %></h5>

      <!-- Event Date  -->
      <div class="d-flex align-items-center">
        <i class="cercle-icon-card-event fa-solid fa-calendar-check me-2 ms-1 text-dark-green"></i>
        <p class="card-text mt-0"><%= event.date_event %></p>
      </div>

      <!-- Event Participation  -->
      <div class="d-flex align-items-center">
        <i class="cercle-icon-card-event fa-solid fa-circle-user me-2 ms-1 text-dark-green"></i>
        <p class="card-text mt-0"><%= event.participants_min %> to <%= event.participants_max %></p>
      </div>

      <!-- Event Address  -->
      <div class="d-flex align-items-center">
        <i class="cercle-icon-card-event fa-solid fa-location-dot me-2 ms-1 text-dark-green" style="margin-left: 0.30rem !important"></i>
        <p class="card-text card-text-address mt-0"><%= event.address %></p>
      </div>

      <hr class="subtle-divider">

      <!-- Event Organiser  -->
    <div class="rounded-3 d-flex flex-column mb-2 align-items-start">
        <div class="d-flex align-items-center">

          <!-- Organiser : Avatar -->
          <div class="avatar-container-show", style="width: 30px; height: 30px;">
            <%= render 'layouts/set_vava', vava: event.user %>
          </div>

          <!-- Organiser : Name -->
          <div class="ms-2 d-flex flex-column justify-content-center">
            <p class="mb-1"><%= event.user.username %></p>

            <!-- Organiser : Rating -->
            <div class="d-flex align-items-center rating-container">
              <i><img src="/icons/Star.png" alt="Star Icon" class="icon-star-size me-1"></i>
              <% if event.user.events.where(status: 'Past').exists? %>
                <%= event.user.events.where(status: 'Past').joins(:reviews).average('reviews.rating').round(1) %>
                <%= "(" + event.user.events.where(status: 'Past').joins(:reviews).count.to_s + ")" %>
              <% else %>
                0 (0)
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body col-5">
      <!-- Event Photo -->
      <% if event.photos.attached? %>
<%= cl_image_tag(event.photos.first.key,
                 class: 'card-img-top p-0',
                 alt: event.name,
                 transformation: [
                   { gravity: 'auto', crop: 'thumb', width: 1000, height: 1000 }
                 ]) %>
      <% else %>
        <%= image_tag(asset_path('no_image.png'), class: 'card-img-top p-0', alt: event.name) %>
      <% end %>

      <!-- Event Category -->
      <div class="d-flex align-items-center justify-content-center mt-2 mb-1">
        <i><%= render 'events/index_category_icons', event: event %></i>
        <p class="card-text mt-0"><%= event.category %></p>
      </div>
    </div>
  </div>
<% end %>
