<%= link_to event_path(event), data: {turbo_frame: "_top"}, class: "card m-2", style: "width: 35rem; text-decoration: none; color: inherit;" do %>
  <div class="d-flex">
    <div class="card-body col-7">
      <h5 style="font-weight: 900;" class="text-dark-green ps-1"><%= event.name %></h5>
      <div class="d-flex align-items-center">
        <img src="<%= asset_path('calendar-icon.png') %>" alt="Calendar Icon" class="me-2 ms-1" style="width: 24px; height: 24px;">
        <p class="card-text mt-0"><%= event.date_event %></p>
      </div>
      <div class="d-flex align-items-center">
        <img src="<%= asset_path('participants-icon.png') %>" alt="Participants Icon" class="me-2 ms-1" style="width: 24px; height: 24px;">
        <p class="card-text"><%= event.participants_min %> to <%= event.participants_max %></p>
      </div>
      <div class="d-flex align-items-center">
        <img src="<%= asset_path('location-icon.png') %>" alt="Location Icon" class="me-2 ms-1" style="width: 24px; height: 24px;">
        <p class="card-text card-text-address"><%= event.address %></p>
      </div>
      <hr>
      <div class="d-flex flex-column align-items-start">
        <div class="d-flex align-items-center">
          <div class="ms-2 d-flex justify-content-center align-items-end">
            <%= render 'layouts/set_vava', vava: event.user %>
            <p class="card-text m-2"><%= event.user.username %></p>
            <div class="d-flex align-items-center rating-container">
              <i><img src="/icons/Star.png" alt="Star Icon" class="icon-size me-2"></i>
              <p class="card-text mb-2"><%= 5 %> (<%= rand(1..100) %>)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body col-5">
      <% if event.photos.attached? %>
        <%= cl_image_tag(event.photos.first.key, class: 'card-img-top p-0', alt: event.name) %>
      <% else %>
        <%= image_tag(asset_path('no_image.png'), class: 'card-img-top p-0', alt: event.name) %>
      <% end %>
    </div>
  </div>
<% end %>
