<%= link_to event_path(event), class: "card m-2", style: "width: 35rem; border-radius: 15px; text-decoration: none; color: inherit;" do %>
  <div class="d-flex">
    <div class="card-body col-7">
      <h5 class="card-title"><strong><%= event.name %></strong></h5>
      <div class="d-flex modal-dialog modal-dialog-centered fw-medium">
        <i><img src="/icons/Calendar.png" alt="Calendar Icon" class="icon-class"></i>
        <p class="card-text"><%= event.date_event %></p>
      </div>
      <div class="d-flex modal-dialog modal-dialog-centered fw-medium">
        <i><img src="/icons/Profile.png" alt="Profile Icon" class="icon-class"></i>
        <p class="card-text"><%= event.participants_min %> to <%= event.participants_max %></p>
      </div>
      <div class="d-flex modal-dialog modal-dialog-centered fw-medium">
        <i><img src="/icons/Locationpin.png" alt="Locationpin Icon" class="icon-class"></i>
        <p class="card-text"><%= event.address %></p>
      </div>
    </div>
    <div class="card-body col-5">
      <% if event.photos.attached? %>
        <%= cl_image_tag(event.photos.first.key, class: 'card-img-top p-0', alt: event.name) %>
      <% else %>
        <%= image_tag(asset_path('no_image.png'), class: 'card-img-top p-0', alt: event.name) %>
      <% end %>
      <div class="d-flex justify-content-between modal-dialog modal-dialog-centered fw-medium mt-1">
        <div class="d-flex justify-content-between modal-dialog modal-dialog-centered fw-medium">
          <p class="card-text overflow-hidden"><u><%= event.user.username %></u></p>
        </div>
        <div class="d-flex modal-dialog modal-dialog-centered fw-medium">
          <i><img src="/icons/Star.png" alt="Star Icon" class="icon-class"></i>
          <p class="card-text"><%= 5 %> (<%= rand(1..100) %>)</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
