<h5>Reviews</h5>

<!-- Container for full-width cards -->
<div class="container-fluid px-0">
  <!-- Row to ensure full-width layout -->
  <div class="row no-gutters">
    <% reviews.each do |review| %>
      <div class="col-12">
        <div class="card mb-3 shadow-sm position-relative w-100">
          <div class="card-body">
            <%= link_to user_path(review.user), data: { turbo_frame: "_top" }, target: '_blank', class: 'text-decoration-none text-dark' do %>
              <div class="d-flex align-items-center mb-2">
                <%= render 'layouts/set_vava', vava: review.user, class: 'rounded-circle', style: 'width: 40px; height: 40px;' %>
                <span class="fw-bold" style="margin-left: 10px;"><%= review.user.username %></span>
              </div>
            <% end %>
            <p class="card-text"><%= review.comment %></p>
          </div>
          <div class="position-absolute top-0 end-0 m-3 d-flex align-items-center">
            <span class="display-6 fw-bold"><%= review.rating %></span>
            <img src="/icons/Star.png" alt="Star Icon" class="ms-1" style="width: 30px; height: 30px;">
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
