<div id="initial-view" class="d-flex justify-content-between">
  <!-- Colonne de gauche : deux premières cartes -->
  <div class="col-6 d-flex flex-column gap-3">
    <% if @events.present? %>
      <%= render partial: "events/index_card", locals: { event: @events.first } %>
      <%= render partial: "events/index_card", locals: { event: @events.second } %>
    <% end %>
  </div>

  <!-- Colonne de droite : Image statique de la map avec le bouton voir la map -->
  <div class="col-6 position-relative" data-controller="map" data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <%= image_tag(asset_path('static_map.jpg'), class: 'img-fluid mb-3', alt: "static map to open") %>
    <button class="btn btn-primary position-absolute" style="bottom: 20px; left: 50%; transform: translateX(-50%);" data-action="click->map#showMap">See Map</button>
  </div>
</div>

<!-- Map cachée au départ -->
<div id="map-view" style="width: 100%; height: 500px; display: none;"></div>

<!-- Cards restantes (après les deux premières) -->
<div id="cards-view" class="d-flex flex-wrap justify-content-around">
  <% if @events.drop(2).present? %>
    <% @events.drop(2).each do |event| %>
      <%= render partial: "events/index_card", locals: { event: event } %>
    <% end %>
  <% else %>
    <p>No events available.</p>
  <% end %>
</div>
