<div data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" style="width: 80%; height: 500px;">
  <div class="row h-100 justify-content-center" data-map-target="heading">
    <div class="d-flex justify-content-center align-items-center col-6">
      <h1 class="backgroundfont">Vivez l'aventure, <br>Grandeur Nature.</h1>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center " style="background-size: cover; background-image: url(<%= asset_path('static_map.jpg') %>)">
      <button class="btn btn-primary" data-action="click->map#showMap">See Map</button>
    </div>
  </div>

  <div data-map-target="mapContainer" style="height: 100%; width: 100%; visibility: hidden;"></div>
</div>

<%= render partial: "layouts/searchbar" %>

<!-- Cards restantes (après les deux premières) -->
<div id="cards-view" class="d-flex flex-wrap justify-content-around">
  <% if @events.present? %>
    <% @events.each do |event| %>
      <%= render partial: "events/index_card", locals: { event: event } %>
    <% end %>
  <% else %>
    <p>No events available.</p>
  <% end %>
</div>
