<div class="container justify-content-center">
  <!-- Title -->
  <div class="container mt-2">
    <h1 id="index-title" class="d-flex justify-content-center align-items-center text-center m-2" data-controller="title">Step into the Story, LARP Your Way.</h1>
  </div>

  <!-- Map -->
  <div class="container justify-content-center align-items-center" style="height: 500px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <!-- Filtres -->
  <div class="container">
    <div id="filters" class="filters">
      <h3>Filtres</h3>
      <form id="filter-form" action="<%= events_path %>" method="get" data-controller="filter">
        <div class="form-group">
          <%= check_box_tag 'category[]', 'Murder', params[:category]&.include?('Murder') %>
          <%= label_tag 'category[]', 'Murder' %>
        </div>
        <div class="form-group">
          <%= check_box_tag 'category[]', 'Zombie', params[:category]&.include?('Zombie') %>
          <%= label_tag 'category[]', 'Zombie' %>
        </div>
        <div class="form-group">
          <%= check_box_tag 'category[]', 'Fantasy', params[:category]&.include?('Fantasy') %>
          <%= label_tag 'category[]', 'Fantasy' %>
        </div>
        <div class="form-group">
          <%= check_box_tag 'category[]', 'SF', params[:category]&.include?('SF') %>
          <%= label_tag 'category[]', 'SF' %>
        </div>
        <div class="form-group">
          <%= check_box_tag 'category[]', 'Historical', params[:category]&.include?('Historical') %>
          <%= label_tag 'category[]', 'Historical' %>
        </div>
        <div class="form-group">
          <%= check_box_tag 'category[]', 'Other', params[:category]&.include?('Other') %>
          <%= label_tag 'category[]', 'Other' %>
        </div>
        <%= submit_tag 'Apply Filters', class: 'btn btn-primary' %>
      </form>
    </div>
  </div>

  <!-- Searchbar -->
  <%= render partial: "layouts/searchbar" %>

  <!-- Cards -->
  <div id="cards-view" class="d-flex flex-wrap justify-content-evenly">
    <% if @events.present? %>
      <% @events.each do |event| %>
        <%= render partial: "events/index_card", locals: { event: event } %>
      <% end %>
    <% else %>
      <p>No events available.</p>
    <% end %>
  </div>
  <br>
</div>
