<div class="container mt-4 justify-content-center">

  <!-- Title -->
  <div class="container mt-2">
    <h1 id="index-title" class="d-flex justify-content-center align-items-center text-center m-2">Explore. Find. Play.</h1>
  </div>

  <div class="position-relative">

  <!-- Map -->
    <div id="map" class="container justify-content-center align-items-center" style="height: 500px; border-radius: 10px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <!-- Filtres -->
    <div id="filters" class="card p-1 mt-5 ms-3 justify-content-center">
      <h5 style="text-align: center">Filtres</h3>
        <%= form_with url: events_path, method: :get, data: { controller: :filter } do |f| %>
          <div class="form-grid-checkbox">
            <%= f.collection_check_boxes :category, [["Murder", "Murder"], ["Zombie", "Zombie"], ["Fantasy", "Fantasy"], ["SF", "SF"], ["Historical",  "Historical"], ["Other", "Other"]], :second, :first do |b| %>
              <div class="checkbox-container p-2">
                <%= b.check_box data: { action: "change->filter#update" } %>
                <%= b.label %>
                <i><%= render 'index_filters_icons', category: b.label %></i>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>

  <!-- Searchbar -->
  <%= render partial: "layouts/searchbar" %>

  <!-- Cards -->
  <div id="cards-view" class="row justify-content-space-between align-items-center m-0 p-0 w-100">
    <% if @events.present? %>
      <% @events.each do |event| %>
        <%= render partial: "events/index_card", locals: { event: event } %>
      <% end %>
    <% else %>
      <p>No events available.</p>
    <% end %>
  </div>
  <br>
</div>
