<div>
  <div class="container d-flex mt-4">
    <div class="row w-100">
      <div class="col-8">
        <div>
          <!-- Carousel -->
          <%= render 'layouts/carousel' %>

          <!-- About this event (left column) -->
          <div class="mt-4">
            <div class="rounded-3 d-flex flex-column mb-2 align-items-start">
              <div class="d-flex align-items-center">

                <!-- Organiser : Avatar -->
                <div class="avatar-container-show">
                  <%= render 'layouts/set_vava', vava: @event.user %>
                </div>

                <!-- Organiser : Name -->
                <div class="ms-2 d-flex flex-column justify-content-center">
                  <p class="mb-1">Organised by <%= @event.user.username %></p>

                  <!-- Organiser : Rating -->
                  <div class="d-flex align-items-center rating-container">
                    <i><img src="/icons/Star.png" alt="Star Icon" class="icon-star-size me-1"></i>
                    <% if @event.user.events.where(status: 'Past').exists? %>
                      <%= @event.user.events.where(status: 'Past').joins(:reviews).average('reviews.rating').round(1) %>
                      <%= "(" + @event.user.events.where(status: 'Past').joins(:reviews).count.to_s + ")" %>
                    <% else %>
                      0 (0)
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <hr class="subtle-divider" style="width: 50%">

            <!-- Theme -->
            <div class="d-flex justify-content-between">
              <h5>Theme:</h5>

              <!-- Category -->
              <span><%= render partial: 'category_icons' %><%= @event.category %></span>
            </div>
            <div class="card-text" data-controller="text-clamp">
              <div id="event-content" class="text-clamp" data-text-clamp-target="text" >

                <!-- Description -->
                <%= @event.content %>
              </div>
              <a href="javascript:void(0);" id="see-more-link" class="text-primary" data-action="click->text-clamp#seeMore">See more</a>
            </div>
          </div>
          <br>
        </div>
      </div>

      <!-- Sticky Card (right column) -->
      <div class="card-body col-4">
        <%= render "sticky_card", event: @event %>
      </div>
    </div>
  </div>

  <hr class="subtle-divider">

  <!-- Participant List -->
  <div class="container mt-4">
    <div class="mt-2" data-controller="participants">
      <%= render "participants_show_event", event: @event %>
    </div>
  </div>

  <hr class="subtle-divider">

  <!-- Reviews -->
  <% if @event.status == "Past" %>
    <div class="container mt-4">
        <%= render "reviews_part", reviews: @event.reviews %>
    </div>

    <hr class="subtle-divider">
  <% end %>

  <!-- Location container -->
  <div class="container mt-4">
    <div>
      <h5>Where the location will be:</h5>
      <p><%= @event.address %></p>
    </div>
    <div class="mb-3" style="width: 100%; height: 500px; border-radius: 10px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <!-- Location container -->
  <div class="container mt-4">
    <%= link_to events_path, class: "mt-1 mb-4 no-underline" do %>
      <i class="fa-solid fa-turn-down rotated-left"></i> Back to events
    <% end %>
  </div>
<div>
