<%= turbo_frame_tag :events_frame do %>
  <div>
    <p class="w-100"><%= link_to "Book New Event", events_path, data:{turbo_frame: "_top"}, class: "btn btn-secondary btn-lg w-100 link-underline link-underline-opacity-0 mb-3 mt-2" %></p>
  </div>
  <div class="d-flex flex-wrap justify-content-center align-items-center">
    <% if @events.present? %>
      <% @subs.each do |sub| %>
        <div class="card m-3" style="width: 18rem; border-radius: 15px">
          <%= link_to event_path(sub.event) do %>
            <img src="<%= sub.event.image_url %>" class="card-img-top" alt="<%= sub.event.name %>" style="height: 200px; object-fit: cover; width: 100%;">
          <% end %>
        </div>
      <% end %>
      <% else %>
      No events
    <% end %>
  </div>
<% end %>
