<div class="d-flex align-items-center">
  <h4 class="text-dark-green me-2 mb-0">
    <strong>Participants: <%= Sub.where(event_id: event.id).count+1 %>/<%= event.participants_max %></strong>
  </h4>
  <button class="btn btn-info p-1" type="button" data-bs-toggle="collapse" data-bs-target="#followers-<%= event.id %>" aria-expanded="false" aria-controls="followers-<%= event.id %>">
    <i class="fa-solid fa-chevron-down"></i>
  </button>
  <%= render "reject_accept_sub", event: event %>
</div>


