<div class="card-event">
  <h2 class="text-dark-green"><strong><%= event.name %></strong></h2>
  <div class="row" style="height: 300px;">
    <div class="col-md-4 img_myevents_cards_container">
      <% if event.photos.attached? %>
        <%= cl_image_tag(event.photos.first.key, alt: event.name, class: "img_myevents_cards") %>
      <% else %>
        <%= image_tag(asset_path('no_image.png'), alt: event.name, class: "img_myevents_cards") %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="d-flex align-items-center">
        <img src="<%= asset_path('calendar-icon.png') %>" alt="Calendar Icon" class="me-2 ms-1" style="width: 24px; height: 24px;">
        <p class="card-text mt-0"><%= event.date_event %></p>
      </div>
      <div class="d-flex modal-dialog modal-dialog-centered fw-medium">
        <img src="<%= asset_path('participants-icon.png') %>" alt="Participants Icon" class="me-2 ms-1 mt-1" style="width: 24px; height: 24px;">
        <p class="card-text"><%= event.participants_min %> to <%= event.participants_max %></p>
      </div>
      <div class="d-flex modal-dialog modal-dialog-centered fw-medium">
        <img src="<%= asset_path('location-icon.png') %>" alt="Participants Icon" class="me-2 ms-1" style="width: 24px; height: 24px;">
        <p class="card-text"><%= event.address %></p>
      </div>
      <%= event.status %>
    </div>
  </div>
</div>
