<div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-light sticky-top">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand d-flex logo-container" do %>
      <%= image_tag 'Logo_GN.png' %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "My events", myevents_path, class: "nav-link text-white my-events-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <div class="d-flex align-items-center">
          <li class="nav-item dropdown d-flex align-items-center">
            <%= render 'layouts/set_vava', vava: current_user %>
            <div class="ms-3 text-white">
              <div><%= current_user.username %></div>
              <div class="user-level" style="font-size: 0.875rem;"><%= "Points: #{current_user.level}" %></div>
            </div>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", profile_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
            </div>
          </li>
        </div>
      <% end %>

    </div>
  </div>
</div>
