<div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-light sticky-top">
  <div class="container-fluid" style="padding-left: 20px; padding-right: 20px; margin: 0;">

    <%= link_to events_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag 'Logo_GN.png' %>
    <% end %>

    <div class="container ms-1" style="width:20%">
      <%= simple_form_for :search, url: events_path, method: :get do |f| %>
        <div class="search-form-control form-group" style="border-radius: 10px; overflow: hidden; background-color: rgba(#FFFFFF, 0.05);">
          <%= f.input :query, label: false, placeholder: "Search ...", wrapper_html: {style: "margin-bottom: 0px !important;"}, input_html: { class: "form-control rounded-pill-input", style: "height: 40px; font-size: 14px;"  } %>
          <button type="submit" class="btn btn-flat pt-2">
          <i class="fa-solid fa-magnifying-glass fs-7 text-dark-green"></i>
          </button>
        </div>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
         <li class="nav-item cercle-icon" style="background-color: white; margin-right: 15px;" >
          <%= link_to account_subscriptions_path, class: "avatar text-dark-green" do %>
            <i class="fa-solid fa-bell fs-4" style="opacity:1;"></i>
          <% end %>
         </li>
         <li class="nav-item cercle-icon" style="background-color: white; margin-right: 15px;">
          <%= link_to "", class: "avatar text-dark-green" do %>
            <i class="fa-solid fa-comments fs-5" style="opacity:1;"></i>
          <% end %>
         </li>
         <li class="nav-item cercle-icon" style="background-color: white; margin-right: 15px;">
          <%= link_to account_subscriptions_path, class: "avatar text-dark-green" do %>
            <i class="fa-solid fa-calendar-days fs-5" style="opacity:1;"></i>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <div class="d-flex align-items-center">
          <li class="nav-item dropdown d-flex align-items-center">
            <%= render 'layouts/set_vava', vava: current_user %>
            <div class="ms-2 text-white">
              <div><%= current_user.username %></div>
              <div class="user-level" style="font-size: 0.875rem;"><%= "Points: #{current_user.level}" %></div>
            </div>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
            </div>
          </li>
        </div>
      <% end %>
    </div>
  </div>
</div>
