<!DOCTYPE html>
<html>
  <head>
    <title>GnMap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel='shortcut icon' type='image/png' href='logo_GN.png'/>

    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&family=Karantina:wght@300;400;700&display=swap" rel="stylesheet">

    <%= favicon_link_tag 'Gn_ico.png' %>

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
  </head>

  <body>
    <% unless current_page?(root_path) %>
      <%= render 'layouts/navbar' %>
    <% end %>
    <div style="min-height: 90vh;">
      <% if content_for?(:tabs) %>
        <%= yield(:tabs) %>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
    <% unless current_page?(root_path) %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
